<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- -------------------------------header-section------------------------------ -->
    <header class="header-section">
        <div class="container">
            <div class="menu-logo">
                <div class="logo">
                        <a href="#">
                            <!-- <img src="./logo.png" alt=""> -->
                            <img src="https://i.ibb.co/6DtNwj5/logo.png" alt="">
                        </a>
                </div>
                <div class="menu">
                        <ul>
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">WORK</a></li>
                            <li><a href="#">SERVICE</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            <div class="big">
                <h1>WEB DESIGN & DESINER</h1>
            </div>
        </div>
    </header>


    <!-- ------------------------about-section-------------------------------------- -->
    <section class="about-section">
        <div class="container">
            <div class="about">
                <div class="pic">
                    <!-- <img src="./GettyImages-173404960-56a1348f5f9b58b7d0bd03bd.jpg" alt=""> -->
                    <img src="https://i.ibb.co/gJ9vqtK/Getty-Images-173404960-56a1348f5f9b58b7d0bd03bd.jpg" alt="">
                </div>
                <div class="about2">
                    <h1>ABOUT</h1>
                    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa et, optio, minima illum ad eaque quae repellat nesciunt officiis tempora ducimus repudiandae, facilis placeat non! Facere optio, provident ut aspernatur, consequuntur quod laboriosam nam ullam esse molestias, itaque voluptates accusantium natus maiores dolorem nihil minus fugiat! <br><br>Perferendis voluptatem voluptatibus obcaecati voluptate? Ullam itaque molestiae incidunt modi reprehenderit soluta velit at, expedita error saepe sapiente. Dolorem ducimus tempora a tempore consequatur, eaque quas natus facere hic itaque. Enim recusandae harum eum ullam molestiae laboriosam perspiciatis cupiditate quidem repellat, illo voluptates ducimus, suscipit, eaque laudantium?</P>
                </div>
            </div>
        </div>
</section>

<!-- -----------------------------------------grid-section--------------------------------- -->
    <section class="grid-section">
        <div class="container">
            <div class="grid">
                <h1 class="tom1">SERVICE</h1>
                <div class="grid1">
                   <span class="tom"><i class="fa-solid fa-desktop"></i></span>
                    <h1 class="sada">WEBDESIGN</h1>
                    <ul class="sada">
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                    </ul>
                    <a class="tom" href="">learn more</a>
                </div>
                <div class="grid2">
                   <span class="tom"><i class="fa-solid fa-print"></i></span>
                    <h1 class="sada">PRINT DESIGN</h1>
                    <ul class="sada">
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                    </ul>
                    <a class="tom" href="">learn more</a></div>
                <div class="grid3">
                    <span class="tom"><i class="fa-solid fa-code"></i></span>
                    <h1 class="sada">WEB DEVELOPMENT</h1>
                    <ul class="sada">
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                        <li>lorem ipsum dolar sit amet</li>
                    </ul>
                    <a class="tom" href="">learn more</a>
                </div>
            </div>
        </div>
</section>
    <!-- <------------------------------- form-section----------------------------- --> 
    <section class="form-section">
        <div class="container">
            <div class="form">
                <h1>CONTACT</h1>
                <form action="#">
                    <input class="text" type="text" placeholder="Your Name"> <br>
                    <input class="email" type="email" placeholder="Your Email"> <br>
                    <input class="number" type="number" placeholder="Your Number"> <br>
                    <button class="btn">
                        <h4>submit</h4>
                    </button>
                </form>
            </div>
        </div>
    </section>

    <!-- ------------------------------------------footer-section----------------------------- -->
        <footer class="footer-section">
            <div class="container">
                <div class="footer">
                    <p>&copy;2045 Onepage.All rights Reserved I Template by <span class="red">Template Stoke</spa></p>
                </div>
            </div>
        </footer>
    </body>
</html>
                        
<!-- <--------------------*************html end************----------- --> 


