<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- ------header-section -->
    <header class="headerSection">
        <h2>this is menu</h2>

    </header>

    <!-- ----------hero-section -->
    <section class="heroSection">
    <img src="https://i.ibb.co/TtqML58/images.jpg" alt="">

    </section>

    <!-- =========about-section -->
    <section class="about-section">
        <h2>This is title</h2>
        <h5>This is subtitle</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, saepe eaque?</p>


    </section>

    <!-- --------contact-section------ -->
    <section class="contact-section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vitae numquam odio est necessitatibus enim illum fugiat eum libero eaque perspiciatis, minus nam nulla officiis exercitationem voluptates dolor reiciendis alias assumenda accusantium. Dolor cumque enim quidem voluptas. Adipisci voluptates iste quos nam earum quae alias nesciunt. Nesciunt modi nisi totam tenetur expedita laborum, consequatur repellat necessitatibus reprehenderit, sunt recusandae, dolore odio?</p>
        <h4>Web Design</h4>
        <h3>Web Development</h3>
        <h3 class="mou">Web Application</h3>


    </section>


    <!-- -----yellow-section----- -->
    <section class="yellow">
        <div class="bg">
            <h2>***</h2>
        </div>

    </section>


    <!-- footer-section--------- -->
    <footer class="footer-section">
        <p>&copy;2021 All right reserved bt DevesSquad IT Solution </p>

    </footer>
    
</body>
</html>