<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,500;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yellowtail&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- --------------------header-section------------------ -->
    <header class="header-section clearfix">
        <div class="container">
            <div class="h-left">
                <a href="#">
                    <img src="https://sowrav928.github.io/lfwfacademy/img/lfwf-logo.png" alt="">  
                </a>
            </div>
            <div class="h-menu">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">service <i class="fa-solid fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                        <li><a href="#">home</a></li>
                    </ul>
                    </li>
                    <li><a href="#">contract</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- -----------------------banner-section--------------- -->
    <section class="banner-section">
        <div class="container">
            <div class="banner">
                <h1>Simple Dummy Text of</h1>
                <h4>the printing and typesetting</h4>
                <a class="btn1" href="#">start Now</a>
                <a class="btn2" href="#">contract</a>
            </div>
        </div>
    </section>
    <!-- ----------------------about-section--------- -->
    <div class="about-section clearfix">
        <div class="container">
            <div class="about">
                <h1 class="bo">ABOUT ME</h1>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestias nisi amet, eum autem velit et totam provident? Sunt quaerat aliquid iusto blanditiis et quam autem ea cumque quas omnis quisquam quis, sed modi dicta repellendus optio temporibus, facilis, assumenda id? Distinctio expedita consequuntur obcaecati esse temporibus reiciendis, ad cumque repudiandae iusto facilis quidem? Ab voluptas harum aut molestiae possimus culpa cumque.</p>
                </div>
                <div class="pic">
                    <img src="https://i.ibb.co/w495BSm/jillur.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------contract-section--------------- -->
    <section class="contract-section clearfix">
            <div class="container">
                <div class="contract">
                    <h1 class="bo">What I Do</h1>
                    <h2 class="one">Beautiful.Clean.Responsive</h2>
                    <p class="two">Reen Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat in autem dolorem aperiam quisquam iste, laudantium cumque consectetur quia quasi totam odio eligendi quas placeat ut repellendus necessitatibus provident? Reprehenderit porro voluptatibus quae harum id.</p>
                    <div class="dim1 kum">
                        <img src="https://i.ibb.co/T8NNKmg/PSD-To-HTML-Lab-Parctice-Reen.png" alt="">
                        <h2>Passion</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, unde ullam alias ducimus blanditiis cupiditate pariatur soluta aliquam dolorum temporibus.</p>
                    </div>
                    <div class="dim2 kum">
                        <img src="https://i.ibb.co/2N5v9HJ/2.png" alt="">
                        <h2>Cretivity</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum repellendus veritatis ex, adipisci mollitia similique officiis aperiam nostrum aspernatur quo.</p>
                    </div>
                    <div class="dim3 kum">
                        <img src="https://i.ibb.co/VDhJDR5/3.png" alt="">
                        <h2>Quality</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni mollitia rerum delectus repellendus sequi tenetur perspiciatis, dignissimos facere quia repellat?</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- --------------------check-section-------------- -->
    <section class="check-section clearfix">
        <div class="container">
            <div class="check">
                <h1 class="tip">check out our latest works</h1>
                <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, alias possimus!</p>
                <div class="pure">
                    <div class="mo">
                        <img src="https://i.ibb.co/R39YJxF/21.jpg" alt="">
                        <h4 class="ro">Grand motel gets an identity brushup</h4>
                        <p class="po">identity</p>
                    </div>
                    <div class="sumi">
                        <img src="https://i.ibb.co/dPLzTrH/5.jpg" alt="">
                        <h4 class="ro">fresh branding for a cretive startup</h4>
                        <p class="po">identity</p>
                    </div>
                </div>
                <div class="ture">
                    <div class="sig1">
                        <img src="https://i.ibb.co/TRtqhLt/13.jpg" alt="">
                    </div>
                    <div class="sig1">
                        <img src="https://i.ibb.co/n0t6R5L/16.jpg" alt="">
                    </div>
                    <div class="sig1">
                        <img src="https://i.ibb.co/9GjNTMB/10.jpg" alt="">
                    </div>
                    <div class="sig1">
                        <img src="https://i.ibb.co/bgQZHLv/12.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- --------------team-section---------------- -->
    <section class="team-section clearfix">
            <div class="container">
                <div class="team">
                    <h1 class="co">MY TEAM MEMBERS</h1>
                    <div class="man">
                        <img src="https://i.ibb.co/HzFbGT7/t1.jpg" alt="">
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-solid fa-envelope"></i></span>
                    </div>
                    <div class="man">
                        <img src="https://i.ibb.co/HzFbGT7/t1.jpg" alt="">
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-solid fa-envelope"></i></span>
                    </div>
                    <div class="man">
                        <img src="https://i.ibb.co/HzFbGT7/t1.jpg" alt="">
                        <span><i class="fa-brands fa-facebook"></i></span>
                        <span><i class="fa-brands fa-twitter"></i></span>
                        <span><i class="fa-solid fa-envelope"></i></span>
                    </div>
                </div>
            </div>
    </section>
    <!-- ---------------------------work-section---------------- -->
    <section class="work-section c">
        <div class="container">
            <div class="work">
                <h1>Want to work with us?</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea voluptatem alias nostrum quasi id. Possimus ea accusantium inventore cum molestias totam.</p>
                <a class="bot" href="#">GET IN TOUCH</a>
            </div>
        </div>
    </section>
    <!-- ----------------footer-section-------------------- -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer">
                <p>Copyright &copy;inc.All rights reserved by Mousumi Mou</p>
            </div>
        </div>

    </footer>
</body>
</html>