<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;700;900&display=swap" rel="stylesheet">">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- ------header-section------ -->
    <header class="header-section clearfix">
        <div class="container">
            <div class="header">
                <div class="h-left">
                    <a href="#">
                        <img src="https://i.ibb.co/jZWdkYN/lfwf-white-logo-removebg-preview.png?fbclid=IwAR2KRwWNPE-OQy3QKQmlNkZC2miI2J7g_hr84UhcASPWdY3pUYt21dfz_I0" alt=""> 
                    </a>
                </div>
                <div class="h-right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Contract</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- ---------------hero-section--------------- -->
    <section class="hero-section">
        <div class="container">
            <div class="hero">
                <h5>created to save your time</h5>
                <h1>Time Planner App</h1>
                <a class="btn" href="#"><i class="fa-regular fa-calendar-minus"></i>&nbsp;&nbsp;Google play</a>
                <a class="btn" href="#"><i class="fa-brands fa-apple"></i>&nbsp;&nbsp;Apple App</a>
                </div>
            </div>
        </section>
        <!-- ----pricing-section----------------- -->
        <section class="pricing-section clearfix">
            <div class="container">
                <div class="price">
                    <div class="pro1">
                        <h1>Start using Our app today</h1>
                        <p>set of tools seamlessly manage projects during their entire life cycle</p>
                    </div>
                    <div class="pro2">
                        <div class="dam">
                            <div class="part1">
                                <h5>Free Version</h5>
                                <h1>$ 0 <span>/month</span></h1>
                                <h5>Who is this for?</h5>
                                <p>Free version for students and regular users</p>
                            </div>
                            <div class="part2">
                                <ul>
                                    <li><span><i class="fa-solid fa-check"></i></span>Time Tracking</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Resource Planning</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Integrations</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Task Management</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Reporting</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Invoicing</li>
                                </ul>
                                <div class="button2">
                                    <a class="btn1" href="#">Get Free Now</a>
                                  </div>
                            </div>
                        </div>
                        <div class="dam">
                            <div class="part1">
                                <h5>Free Version</h5>
                                <h1>$ 0 <span>/month</span></h1>
                                <h5>Who is this for?</h5>
                                <p>Free version for students and regular users</p>
                            </div>
                            <div class="part2">
                                <ul>
                                    <li><span><i class="fa-solid fa-check"></i></span>Time Tracking</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Resource Planning</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Integrations</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Task Management</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Reporting</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Invoicing</li>
                                </ul>
                                <div class="button2">
                                    <a class="btn1" href="#">Get Free Now</a>
                                  </div>
                            </div>
                        </div>
                        <div class="dam">
                            <div class="part1">
                                <h5>Free Version</h5>
                                <h1>$ 0 <span>/month</span></h1>
                                <h5>Who is this for?</h5>
                                <p>Free version for students and regular users</p>
                            </div>
                            <div class="part2">
                                <ul>
                                    <li><span><i class="fa-solid fa-check"></i></span>Time Tracking</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Resource Planning</li>
                                    <li><span><i class="fa-solid fa-check"></i></span>Integrations</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Task Management</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Reporting</li>
                                    <li><span><i class="fa-solid fa-xmark"></i></span>Invoicing</li>
                                </ul>
                              <div class="button2">
                                <a class="btn1" href="#">Get Free Now</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-section clearfix">
            <div class="container">
                <div class="team">
                    <h1>Our team is constantly trying for you</h1>
                    <div class="pic">
                        <img src="https://i.ibb.co/Tw0mxY4/team-pic1.jpg" alt="">
                        <h4>Jason Doe</h4>
                        <p>Programmer</p>
                    </div>
                    <div class="pic">
                        <img src="https://i.ibb.co/cQ9qC2b/team-pic3.jpg" alt="">
                        <h4>Amanda Swon</h4>
                        <p>Programmer</p>
                    </div>
                    <div class="pic">
                        <img src="https://i.ibb.co/3Ytk6JV/team-pic4.jpg" alt="">
                        <h4>Andrew Smith</h4>
                        <p>Programmer</p>
                    </div>
                    <div class="pic">
                        <img src="https://i.ibb.co/5nmYhQQ/team-pic2.jpg" alt="">
                        <h4>Jane Olsen</h4>
                        <p>Programmer</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ------------news-section-------------------- -->
        <section class="news-section">
            <div class="container">
                <div class="news">
                    <p>Keep up to date with the latest updates</p>
                    <h1>Subsscribe to our newsletter</h1>
                    <form action="#">
                        <input type="email" placeholder="E-mail Address" class="dip pop"> <br>
                        <button class="btn3">subscribe</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- ---------------choose-section-------------- -->
        <section class="choose-section clearfix">
            <div class="container">
                <div class="choose">
                    <h1>Why choose us</h1>
                    <div class="sobi">
                        <img src="https://i.ibb.co/HFpfXwp/about-us.jpg" alt="">
                    </div>
                    <div class="text">
                        <ol>
                            <li>
                                <h4>Awesome Design</h4>
                                <p>Morbi vehicula a nibh in commodo Aliquam quis dolor eget lectus pulvinar malesuada suspendisse eu rhoncus ligula</p>
                            </li>
                            <li>
                                <h4>Awesome Design</h4>
                                <p>Morbi vehicula a nibh in commodo Aliquam quis dolor eget lectus pulvinar malesuada suspendisse eu rhoncus ligula</p>
                            </li>
                            <li>
                                <h4>Awesome Design</h4>
                                <p>Morbi vehicula a nibh in commodo Aliquam quis dolor eget lectus pulvinar malesuada suspendisse eu rhoncus ligula Morbi vehicula a nibh in commodo Aliquam quis dolor eget</p>
                            </li>
                            <li>
                                <h4>Awesome Design</h4>
                                <p>Morbi vehicula a nibh in commodo Aliquam quis dolor eget lectus pulvinar malesuada suspendisse eu rhoncus ligula Morbi vehicula a nibh in commodo</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section-------------------- -->
        <section class="about-section clearfix">
            <div class="container">
                <div class="about">
                    <p>Feedback from our useres</p>
                    <h1>what do userers say about our application</h1>
                    <div class="about-box clearfix">
                        <div class="ox1">
                           <div class="con">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, vel quod. Rerum, nobis. Asperiores sint distinctio doloribus? Assumenda.</p>
                           </div> 
                           <div class="photo clearfix">
                                <div class="pho">
                                    <img src="https://i.ibb.co/dPchPGK/face1.jpg" alt="">
                                </div>
                                <div class="to">
                                    <h4>Jason Doe</h4>
                                    <p>user</p>
                                </div>
                           </div>
                        </div>
                        <div class="ox1">
                                <div class="con">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, vel quod. Rerum, nobis. Asperiores sint distinctio doloribus? Assumenda.</p>
                               </div> 
                               <div class="photo clearfix">
                                    <div class="pho">
                                        <img src="https://i.ibb.co/3hFDBXh/face3.jpg" alt="">
                                    </div>
                                    <div class="to">
                                        <h4>Jason Doe</h4>
                                        <p>user</p>
                                    </div>
                               </div>
                        </div>
                        <div class="ox1">
                                <div class="con">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, vel quod. Rerum, nobis. Asperiores sint distinctio doloribus? Assumenda.</p>
                               </div> 
                               <div class="photo clearfix">
                                    <div class="pho">
                                        <img src="https://i.ibb.co/qRpbqcH/face4.jpg" alt="">
                                    </div>
                                    <div class="to">
                                        <h4>Jason Doe</h4>
                                        <p>user</p>
                                    </div>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contract-section------------- -->
        <section class="contract-section clearfix">
            <div class="container">
                <div class="contract">
                    <h1>Contact us</h1>
                    <p>contact us Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, repudiandae quis fugit reprehenderit necessitatibus sint eius est quo quidem</p>
                    <div class="main clearfix">
                        <form action="#">
                            <input type="email" placeholder="Email-Address" class="dip oi">
                            <input type="text" placeholder="Name" class="dip le">
                            <input type="tel" placeholder="Phone" class="dip ri">
                            <textarea name="" id="" class="dip oi" placeholder="messeage" cols="30" rows="10"></textarea>
                            <button class="but">send</button>
                        </form>
                    </div>
                </div>
            </div>
    </section>
    <!-- -----------footer-section--------- -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer">
                <p>&copy;Copyright 2020 By Mousumi Mou-All Rights Reserved</p>
            </div>
        </div>
    </footer>
    
</body>
</html>