<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- ---------header-section------------ -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="header-left">
                        <a href="#">
                            <img src="https://sowrav928.github.io/lfwfacademy/img/lfwf-logo.png" alt="">  
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------hero-section------------- -->
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hero">
                        <h4 class="mt-5">I am Morgan Freeman</h4>
                        <p class="m-auto mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsa vero quod animi sunt iusto ipsum itaque dolorum beatae cupiditate?</p>
                        <a class="btn btn-primary mt-3" href="#">Large button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------meet-section-------------- -->
    <div class="meet-section text-center pt-5 pb-5">
        <div class="container">
          <div class="row">
                <div class="col-sm-12">
                    <h1 class="mb-5">Meet Our Teem</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="meet1">
                            <img src="https://i.ibb.co/nf76Pt6/222222.jpg" alt="">
                            <h5>I am jece</h5>
                            <p>Some quick example text to build on the card title and make up the cards content</p>
                            <a class="btn btn-primary" href="#">Go somewhere</a>
                        </div> 
                        </div>               
                        <div class="col-sm-4">
                            <img src="https://i.ibb.co/FDs0xV3/download.jpg" alt="">
                            <h5>I am Hany</h5>
                            <p>Some quick example text to build on the card title and make up the cards content</p>
                            <a class="btn btn-primary" href="#">Go somewhere</a>
                        </div>               
                        <div class="col-sm-4">
                            <img src="https://i.ibb.co/0KqYpC6/images.jpg" alt="">
                            <h5>I am rock</h5>
                            <p>Some quick example text to build on the card title and make up the cards content</p>
                            <a class="btn btn-primary" href="#">Go somewhere</a>
                    </div>               
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- --------------about-section--------------------- -->
    <div class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="first mb-5">
                    <h1>About Us</h1>
                </div>
              <div class="col-sm-5">
                   <div class="row">
                    <div class="col-sm-5">
                        <div class="pic">
                        <img src="https://i.ibb.co/17vyrwG/testimonial-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <ul class="list">
                            <li>Name:Morgan</li>
                            <li>Profile:full stack developer</li>
                            <li>Email:contact@example.com</li>
                            <li>Phone:(617)557-0089</li>
                        </ul>
                    </div>
                        <p class="pop mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolorum minima minus libero. Voluptatem ut ad eius enim libero. Fugit odio, modi laudantium repudiandae aliquam nisi ut commodi est ipsum?</p>
                   </div> 
                </div>
                <div class="col-sm-7 text-right">
                    <div class="right">
                        <h3>About me</h3>
                        <p>curabitur non nulla Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur velit eligendi ipsam aliquam cum perferendis possimus accusamus ad reprehenderit, nobis tempore doloribus alias quam magni eaque nam atque maiores nisi labore voluptatibus <br> <br> eum! Ea illo nulla, veniam qui aliquam laboriosam quidem? Rem recusandae delectus maxime ipsa hic impedit ut at ullam praesentium, perspiciatis exercitationem deserunt, modi id quia nobis minus atque? Modi similique alias animi sequi.</p>
                        <p class="lead">nulla porttitor accumsan Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nisi pariatur explicabo aliquam saepe illo nobis accusantium, fuga autem neque laboriosam, obcaecati sint nam.</p>
                    </div>
                </div>
              </div>  
            </div>
        </div>
    </div>
    <!-- ------------------contract-section----------- -->
    <div class="contract-section">
        <div class="container">
            <div class="row">
                <h1 class="text-center mb-5">Contact Us</h1>
                <div class="col-sm-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234761.05368438395!2d89.02906748053339!3d23.16503646300501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff108d87ea6d65%3A0x627d034ef93261cf!2sJashore!5e0!3m2!1sen!2sbd!4v1690629810480!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-sm-5">
                    <form action="#">
                        <label>Name:</label>
                        <input type="text" class="form-control mt-2" placeholder="Your Name">
                        <label>Email:</label>
                        <input type="email" class="form-control mt-2" placeholder="Your Email">
                        <label>subject:</label>
                        <input type="text" class="form-control mt-2" placeholder="Subject">
                        <label>Messege:</label>
                        <textarea name="" id="" class="form-control mt-2" cols="30" rows="4"></textarea>
                        <input type="submit" value="Submit" class="btn btn-info mt-3 text-white">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------------footer-section-------- -->
    <div class="footer-section text-center bg-primary py-3 text-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer">
                        <p>&copy; Copy DevFolio All Rights reserver Desingned by BootstrapMade</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>