/*--------------header-section------------  */
.header{
    background-color: #101446;
}
.header-left{
    text-align: left;
}
.header-left img{
    width: 100px;
}
.menu{}
.menu ul {
    margin-bottom: 0;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a {
    line-height: 55px;
    text-decoration: none;
    margin-left: 43px;
    display: inline-block;
}
.menu ul li a:hover{
    color: aqua;
}
/* ----------------hero-section---------- */
.hero-section{
    background-image: url("https://i.ibb.co/YjBRbVt/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
    background-position: center center;
    background-attachment: fixed;
}
.hero{
    text-align: center;
}
.hero h4 {
    margin-top: 65px;
    color: white;
}
.hero p {
    width: 634px;
    color: white;
}

/* --------------------meet-section--------------- */
.meet-section{
    background-color: #bac1f3;
}
/* --------------------about-section-------------- */
.about-section{
    background-color: #c2d4ea;
    padding: 50px;
}
.first h1{

}
.list{
    text-align: left;
}
.list li{
    list-style: none;
}
.pop{
    text-align: left;
}
.right{
    text-align: left;
    padding: 0 50px;
}

/* --------------------contract-section----------------- */
.contract-section{
    padding: 50px;
    background-color:#f5f5f5 ;
}
.btn:hover{
    color: black;
    background-color: cadetblue;

}
/* -------------------footer-section---------------- */
.footer{}
.footer p {
    margin: auto;
    width: 320px;
}
