<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- subscription -->
    <h2 class="blue">Class Routine<sub>presented By .........(Your Name)</sub></h2>



    <!-- table section -->

    <table class="table" border="1">
        <tr class="yellow">
            <th>Day</th>
            <th class="ice">Teacher's Name</th>
            <th>Course No</th>
            <th>Class Time</th>
            <th>Room No</th>
        </tr>
        <tr>
            <td class="brown">Saturday</td>
            <td class="ice">Harun Sir</td>
            <td class="begun">101</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="brown">Saturday</td>
            <td class="ice">Prodip Sir</td>
            <td class="beguni">102</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="red">Sunday</td>
            <td class="ice">Shaleh Sir</td>
            <td class="nila">103</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="red">Sunday</td>
            <td class="ice">Mondira Mam</td>
            <td class="sobuj">104</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="nil">Monday</td>
            <td class="ice">Belal Sir</td>
            <td class="yellow">105</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="nil">Monday</td>
            <td class="ice">Jamal Sir</td>
            <td class="bron">106</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="gren">Tuesday</td>
            <td class="ice">Rubaiya Mam</td>
            <td class="begun">101</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="gren">Tuesday</td>
            <td class="ice">Rakib Sir</td>
            <td class="beguni">102</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="begun">Wednesday</td>
            <td class="ice">Anower Sir</td>
            <td class="nila">103</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="begun">Wednesday</td>
            <td class="ice">Mamun Sir</td>
            <td class="sobuj">104</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="mati">Thursday</td>
            <td class="ice">Mohammad Ali Sir</td>
            <td class="yellow">105</td>
            <td class="pink">8.00 AM</td>
            <td class="number">310</td>
        </tr>
        <tr>
            <td class="mati">Thursday</td>
            <td class="ice">Kawsar Sir</td>
            <td class="bron">106</td>
            <td class="green">10.00 AM</td>
            <td class="number">310</td>
        </tr>
    </table>

    <!-- paragraph  -->
 <p class="para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi reiciendis dolorum magni commodi, doloribus eaque libero ratione recusandae maiores <br> provident ea, ex animi ipsam cupiditate rem suscipit nobis molestias. Maxime corporis numquam dignissimos magni praesentium accusantium optio <br> repellat porro qui. Laudantium distinctio quod repellat voluptatum optio saepe laborum voluptatibus accusamus quas molestiae omnis ipsam accusantium eveniet deserunt,<br> vel aliquid vero illo a rem nemo est quis nihil? Beatae nulla aperiam vitae aliquam asperiores?<br> Corporis facere veritatis dolorum nemo, laudantium, et quo beatae obcaecati quam molestias pariatur! <br> Nemo est, neque, iste quasi, dolorum inventore sint in quam apariatur commodi s <br><br> consequuntur aliquid laboriosam nisi minus quos molestiae.</p>
 <h2>This is heading tag 2</h2>
 <h2 class="lal">this is heading tag3</h2>


 <!-- img  -->
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTERl3sO3uFHLBuvFICv8m4aW32MGZrbFd7ew&usqp=CAU" alt="">
            
 <!-- footer sectin -->
 <h5 class="footer">footer section</h5>

 
</body>
</html>