<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header-section">
        <div class="container">
            <div class="logomenu">
                <div class="logo">
                    <a class="pic" href="#">
                        <img src="https://i.ibb.co/gPHZvV5/download-22-removebg-preview.png" width="100px" alt="">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Office</a></li>
                        <li><a href="#">support</a></li>
                        <li><a href="#">help</a></li>
                        <li><a href="#">team</a></li>
                        <li><a href="#">policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
</header>
<!-- ---------------main-section-------------- -->
<section class="alldesign">
<div class="maindesign">
    <div class="design1">
        <div class="designstart">
            <p class="red1">center</p>
        </div>
        <div class="designcenter">
            <p class="red1">center</p>
        </div>
        <div class="designend">
            <p class="red1">center</p>
        </div>
    </div>

    <div class="design2">
        <div class="growtext mo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum optio est soluta, possimus, neque ducimus aspernatur, illo id vel cum iste consequatur doloremque ex</p>
        </div>
        <div class="growtext flexgrow1 no">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum optio est soluta, possimus, neque ducimus aspernatur, illo id vel cum iste consequatur doloremque ex</p>
        </div>
        <div class="growtext so">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum optio est soluta, possimus, neque ducimus aspernatur, illo id vel cum iste consequatur doloremque ex</p>
        </div>
    </div>

    <div class="design3">
        <div class="flex1">
           
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
        </div>
        <div class="flex2">
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem">
                <p>Flex</p>
            </div>
         
        </div>
        <div class="flex3">
            <div class="flexitem">
                <p>Flex</p>
            </div>
            <div class="flexitem ce">
                <p>Flex</p>
            </div>
            <div class="flexitem en">
                <p>Flex</p>
            </div>
         </div>
    </div>
</div>
<div class="sidebar">
    <h1>Right Sidebar</h1>
    <img src="https://i.ibb.co/gPHZvV5/download-22-removebg-preview.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae maxime, numquam error culpa sunt ipsum est ipsam minima quasi harum ullam cumque hic tempora! Ea sequi cupiditate quae aliquid distinctio.</p>
</div>
</section>
<footer class="footer-section">
<div class="footer">
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Linked In</a></li>
    </ul>
</div>
</footer>
    
</body>
</html>