<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <header class="headerSection">
            <h2>Here is the menu</h2>

        </header>
        <section class="heroSection">
            <img src="https://i.ibb.co/84Kqjf5/pexels-photo-1008000.jpg" alt="">

        </section>
        <section class="serviceSection">
            <div class="singleService1">
                <img src="./icon-01.png" alt="">
                <h4>this is title</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor blanditiis minima iusto reiciendis tenetur, iste minus quia rerum libero rem?</p>
            </div>
            
            <div class="singleService2">
                    <img src="./icon-02.png" alt="">
                    <h4>this is title</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor blanditiis minima iusto reiciendis tenetur, iste minus quia rerum libero rem?</p>
            </div>
        

        </section>
        <section class="flagSection">
            <h1>National Flags Of Different Countries </h1>
            <div class="bangladesh">
                <div class="gol"></div>
                <h4>Bangladesh</h4>
            </div>
            <div class="england">
                <div class="eng"></div>
                <div class="land"></div>
                <h4>England</h4>
            </div>
            <div class="japan">
                <div class="gol1"></div>
                <h4>Japan</h4>
            </div>

            <div class="german">
                <div class="ger"></div>
                <div class="ger1"></div>
                <div class="ger2"></div>
                <h4>Germany</h4>
            </div>


        </section>

    <footer class="footerSection">
            <h4>This is Footer</h4>

        </footer>
    </div>
    
</body>
</html>