<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                      <a class="navbar-brand text-primary " href="#">LFWF Academy</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Servics
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Blog</a>
                          </li>
                        </ul>
                        <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
  </header>
  <main>
        <div class="col-lg-12">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://i.ibb.co/vHnpx4x/landscape.jpg"  class="d-block w-100" height="600px" alt="">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="ou">
                        <h5 class="oo">First slide label</h5>
                        <p class="mo">Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://i.ibb.co/WsW5MSZ/lake.jpg" class="d-block w-100" height="600px"  alt="">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="ou">
                        <h5 class="oo">First slide label</h5>
                        <p class="mo">Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://i.ibb.co/vHnpx4x/landscape.jpg"  class="d-block w-100" height="500px" alt="">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="ou">
                        <h5 class="oo">First slide label</h5>
                        <p class="mo">Some representative placeholder content for the first slide.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
<!-----------------blocqute---------------  -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
       <div class="pic mt-5">
        <img src="https://i.ibb.co/nr2BRSN/Portrait-of-smiling-handsome-man-in-blue-t-shirt-standing-with-crossed-arms-isolated-on-grey-backgro.jpg" class="img-thumbnail" alt="">
    </div>
       </div>
        <div class="col-lg-7">
        <div class="text mt-5">
            <!-- <h2>Blockqute use korben</h2> -->
            <figure>
                <blockquote class="blockquote">
                  <h2>Blockqute use korben</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dicta consectetur minus deserunt cumque molestias, incidunt est impedit labore odio, at in asperiores. Voluptates velit accusantium error accusamus.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, dicta consectetur minus deserunt cumque molestias, incidunt est impedit labore odio, at in asperiores. Voluptates velit accusantium error accusamus.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <cite title="Source Title">LFWF Academy</cite>
                </figcaption>
              </figure>
        </div>
        </div>
    </div>
</div>
<hr>
<section class=" ta mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="table-responsive table-striped">
                    <table class="table table-primary table-bordered text-center table-hover">
                        <thead class="table-dark">
                          <h3 class="text-success mb-3">Bootstrap5 Table</h3>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Class</th>
                                <th scope="col">Roll</th>
                                <th scope="col">Section</th>
                                <th scope="col">Address</th>
                                <th scope="col">Contract</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-success">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-warning">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-info">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-light">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-primary">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-success">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                            <tr class="table-danger">
                                <th>1</th>
                                <td>Shahid</td>
                                <td>10</td>
                                <td>15</td>
                                <td>A</td>
                                <td>Dhaka</td>
                                <td>+8809734982</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
            </div>
        <div class="col-lg-6">
            <div class="form ms-5">
                <h3 class="text-success mb-3">Bootstrap5 Form</h3>
                <div class="row">                                                                                          
                    <div class="col-lg-6">
                        <label for="">First Name</label>
                        <input type="text" placeholder="First name" class="form-control">
                    </div>
                    <div class="col-lg-6">
                        <label for="">Last Name</label>
                        <input type="text" placeholder="last name" class="form-control">
                    </div>
                </div>
                
                    <label class="mt-3" for="">Email address</label>
                    <input type="text" placeholder="name@example.com" class="form-control">
                    <label class="mt-3" for="">Message</label>
                    <textarea name="" id="" class="form-control" cols="35" rows="5"></textarea>
                    <label class="mt-3" for="">Choose File</label>
                    <input type="file" placeholder="Choose File" class="form-control">
                    <select name="" id="" class="form-select mt-3">
                        <option selected>Select your country</option>
                        <option value="magura">Magura</option>
                        <option value="magura">Magura</option>
                        <option value="magura">Magura</option>
                        <option value="magura">Magura</option>
                        <option value="magura">Magura</option>
                    </select>
                    <div class="mt-2">
                        <h4>Choose your course</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Web Design
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              Graphic Design
                            </label>
                          </div>
                    </div>
                    <button type="button" class="btn btn-success px-4 mt-2">Submit</button>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- -------------------------card&progress------------ -->
<section class="mt-5">
    <div class="container">
        <h2 class="text-center text-secondary mb-5">Bootstrap card and progressbar</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="card-header text-center text-secondary">This is header</h3>
                    <div class="card-body">
                      <h5 class="card-title text-secondary">Card title</h5>
                    
                        <ul class="list-group list-group-flush border">
                            <li class="list-group-item">This is card list</li>
                            <li class="list-group-item">This is card list</li>
                            <li class="list-group-item">This is card list</li>
                            <li class="list-group-item">This is card list</li>
                            <li class="list-group-item">This is card list</li>
                          
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nobis ipsa quidem ea fuga cumque labore saepe quos aperiam fugit?</p>
                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a> <br>
                      <a href="#" class="btn btn-primary mt-2">Read more</a>
                    </div>
                  <div class="card-footer text-center">This is footer</div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="text-secondary mt-5">HTML</h5>
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 90%">90%</div>
                  </div>
                  <h5 class="text-secondary">CSS</h5>
                  <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 95%">95%</div>
                  </div>
                  <h5 class="text-secondary">JS</h5>
                  <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 80%">80%</div>
                  </div>
                  <h6 class="text-secondary">WORDPRESS</h6>
                  <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 85%">85%</div>
                  </div>
                  <h5 class="text-secondary mt-5">text transcate bootstrap class use kora 3 dot anben</h5>
                  <p class="text-truncate mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ex in autem fugiat debitis. Atque natus obcaecati ex voluptates illum</p>
                  <div class="alert alert-danger mt-5" role="alert">
                    A simple danger alert—check it out!
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="card-header text-center text-secondary">This is header</h3>
                    <div class="card-body">
                      <img src="https://i.ibb.co/p3rDFT7/grapefruit-slice-332-332.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, numquam. Exercitationem quaerat non neque quibusdam doloremque blanditiis quisquam doloribus tempore.</p>
                      </div>
                    <div class="card-footer text-center">This is footer</div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- -----------------------stretched link--------- -->
<section class="stre">
    <div class="container">
        <h2 class="text-center text-success mt-3 mb-5">Stretched-link bootstrap use kora ae kaj korben</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                  <img src="https://i.ibb.co/LkfPggx/blog-2.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card with stretched link</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                  <img src="https://i.ibb.co/MZngvb0/blog-3.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card with stretched link</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                  <img src="https://i.ibb.co/JvwMqYq/blog-1.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Card with stretched link</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- ----------------pagination------------ -->
<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-5">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>

  </main>
  <footer class="mt-5">
    <div class="footer bg-dark text-light py-2 text-center pt-4">
      <p>&copy;All right reserved designed by mousumi</p>
    </div>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>