<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header-section">
        <div class="container">
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a>
                        <ul>
                            <li><a href="#">Home1</a></li>
                            <li><a href="#">Home2</a>
                                <ul>
                                    <li><a href="#">style1</a></li>
                                    <li><a href="#">style2</a></li>
                                    <li><a href="#">style3</a></li>
                                    <li><a href="#">style4</a></li>
                                    <li><a href="#">style5</a></li>
                                    <li><a href="#">style6</a></li>
                                    <li><a href="#">style7</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Home3</a></li>
                            <li><a href="#">Home4</a></li>
                            <li><a href="#">Home5</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="slider-section">
        <div class="container">
            <div class="slider">
                    <h1>Slider Title</h1>
                <h4>Slider Subtitle</h4>
                <strong><a href="#">Learn More</a></strong>
            </div>
        </div>
    </section>
 <section class="outside-section">
    <div class="container">
        <div class="outside">
            <ul>
                <h1>list-style-position-outside</h1>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos omnis repudiandae exercitationem et, quae corporis quod cum illum, temporibus deserunt. Repellendus perspiciatis suscipit aperiam illum ad modi consectetur. Dolores repellendus vero esse, tempora voluptatum deleniti adipisci eligendi iusto. Quidem nisi hic id sit nobis sunt unde. Dolorem culpa deserunt quos cumque natus, consequuntur, ut nulla consectetur amet mollitia ratione quas voluptate! Enim iure ab veniam sed omnis tenetur sit laborum autem voluptates impedit quibusdam tempore saepe eaque dolorum rem, possimus minus reprehenderit iusto eius, officia sunt quos eos! Aliquam, assumenda quidem incidunt atque at dolore reiciendis doloribus obcaecati architecto.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae accusamus, inventore molestias perspiciatis magnam aut quos ullam maiores quasi, tempora beatae consectetur itaque, sed nobis deleniti tempore? Autem aspernatur, excepturi ratione neque quos vel eos. Quo animi ea eos quod labore laboriosam, omnis iure aliquid expedita cupiditate voluptas totam quasi, explicabo architecto eius quia voluptatum, dolore hic ratione dolor veniam a reiciendis sit. Debitis repellendus maxime vero magni at, veniam sed nam, placeat consequuntur, dolorum iste illo quo hic autem necessitatibus. Ex quod eum officiis, non molestiae praesentium? Excepturi accusantium, quia exercitationem aperiam repellat quos molestiae. Ratione, ab consequuntur?</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quaerat ipsum ex quia incidunt rerum, rem sed mollitia enim facilis amet quod! Nostrum corporis vitae repudiandae hic, tempore, fugiat eligendi animi iure quisquam dolorum ipsa esse dignissimos, sit facilis possimus id quas maiores incidunt ad. Tempora et sed, sit non corrupti, ipsa nemo soluta iste animi neque sequi itaque! Nesciunt est fuga magni molestiae libero assumenda, modi quis. Optio debitis repudiandae magnam hic autem harum quibusdam iste, molestias numquam obcaecati illo consequatur voluptas accusamus adipisci nulla nisi ratione nihil non velit distinctio ipsum odit temporibus? Hic assumenda est reprehenderit minima.</li>
            </ul>
        </div>
    </div>
</section>
<section class="inside-section">
    <div class="container">
        <div class="inside">
            <ul>
                <h1>list-style-position-inside</h1>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit sequi recusandae iusto, illo magni error iste excepturi voluptatibus inventore saepe repudiandae natus assumenda consectetur voluptates aliquam praesentium laborum ex maiores officiis eaque debitis! Laudantium accusantium obcaecati nihil expedita, voluptas tenetur asperiores quos velit sit excepturi iste impedit accusamus, aliquam ab quibusdam aperiam ad unde repellendus fugit, architecto sequi nobis? Distinctio totam ipsam sit neque dolorum delectus aspernatur possimus quidem laudantium provident dolore accusamus dolor qui ullam consequatur quo atque maiores nemo incidunt, sed reprehenderit reiciendis modi voluptates. Unde similique earum, veritatis, accusantium fuga nostrum doloremque aspernatur, distinctio quisquam necessitatibus maxime.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet, veniam eaque quidem rem in consequatur iste. Omnis voluptates dolorem similique ut, rem, unde saepe mollitia totam ad dolore inventore beatae voluptatibus ab tempora accusamus quasi vero repellat molestias facere maiores. Provident dolorem numquam, pariatur, fugiat ipsa est eum tempora obcaecati esse illo dolorum asperiores earum officiis eligendi minima quas. Sit distinctio dicta unde doloribus numquam, odio magnam fugiat omnis repudiandae facilis quos debitis excepturi mollitia ea, architecto voluptate pariatur nulla iure iusto amet sunt in. Amet mollitia fugit iusto autem hic non iure ullam deleniti qui exercitationem, accusantium vitae!</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis et exercitationem tenetur aut obcaecati neque sit ducimus reprehenderit quaerat a deserunt architecto eos libero, distinctio nam optio facere voluptas quas reiciendis, similique ad! Consequatur corrupti similique eius ipsum eos eaque ducimus ipsa minus quia, rerum error laboriosam accusantium illo nemo non temporibus debitis harum odit aliquid? Commodi nesciunt quisquam recusandae mollitia ex in. Culpa sunt optio saepe, voluptate, vero inventore provident rem molestias ullam iste qui necessitatibus laborum enim recusandae? Provident totam quod, mollitia beatae perspiciatis quibusdam maxime praesentium deserunt nobis tempora dolores fugiat unde, voluptatum perferendis in dolore similique.</li>
            </ul>
        </div>
    </div>
</section>
<section class="subscription-section">
    <div class="container">
        <div class="subs">
            <input class="first" type="email" placeholder="Email">
            <input class="one" type="submit" value="Subscribe Now">
        </div>
    </div>
</section>
<section class="list-type">
    <div class="container">
        <div class="list">
            <div class="type1">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
            <div class="type2">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
            <div class="type3">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<footer class="footer-section">
    <div class="container">
        <div class="footer">
            <p>&copy;2021 All rights reserved bt mousumi it solution</p>
                        <ul>
                            <span><i class="fa-brands fa-facebook"></i></span>
                            <span><i class="fa-brands fa-twitter"></i></span>
                            <span><i class="fa-brands fa-youtube"></i></span>
                            <span><i class="fa-brands fa-linkedin-in"></i></span>
                            <span><i class="fa-brands fa-pinterest-p"></i></span>
                        </ul>
                    </div>
                </div>
            </footer>
        </body>
    </html>