<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- lineicons -->
<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

<link
rel="stylesheet"
href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
>

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <section class="header-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="logo mt-3">
              <a href="#">
                <img src="https://sowrav928.github.io/lfwfacademy/img/lfwf-logo.png" width="100px" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="menu">
              <ul>
                <li><a href="#"><span class="no">Home</span></a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Pages</a>
                <div class="drop">
                  <h4><a href="#">404 Page Error</a></h4>
                </div>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="button">
              <a class="but" href="#">Get it Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hero-text">
              <h1>Take your business to next level.</h1>
              <p>With supperting text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime incidunt non at asperiores obcaecati cumque ea reiciendis laudantium ducimus voluptates.</p>
              <a class="btn btn-primary bg-primary text-light" href="#">Discover More</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hero-img">
            <img class="rounded-circle" src="https://i.ibb.co/rbhZ05B/hero-image.jpg" width="900px" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- --------------service-section----------- -->
    <section class="service-section mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="service-text">
              <h5>CORE FEATURES</h5>
              <h1>Provide Awesome Services with our <br> Tools</h1>
              <p class="mt-4">With Supporting Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ea facilis fuga natus commodi? Dicta facilis tenetur omnis.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="single shadow sum">
              <h5>Discover.Explore the product</h5>
              <span><i class="lni lni-microscope"></i></span>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing</p>
            </div>
            <div class="pic">
              <img src="./service-patern.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single shadow">
              <h5>Discover.Explore the product</h5>
              <span><i class="lni lni-blackboard"></i></span>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single shadow">
              <h5>Discover.Explore the product</h5>
              <span><i class="lni lni-graph"></i></span>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single shadow">
              <h5>Discover.Explore the product</h5>
              <span><i class="lni lni-ux"></i></span>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ----------vedio-section-------- -->
    <section class="vedio-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="overlay_text text-center">
                <div class="lek mb-5 pb-5">
                    <h6>CREATE YOUR OWN EXPERIENCE</h6>
                    <h2>Ready To Grow Faster?</h2>
                    <p>There are many Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reprehenderit suscipit ipsum vero enim!</p>
                </div>
                  <span class="">
                    <i class="fa fa-solid fa-play"></i>
                  </span>
            </div>
           
              

                
            </div>
          </div>
        </div>
    </div>
</section>

  </main>
  <footer>
   
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>