<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- ---------header-section----- -->
    <header class="header-section">
        <div class="container">
            <div class="menu">
               <ul>
                <li><a href="#">Home</a>
                    <span></span>
                    <p>*</p>
                </li>
                <li><a href="#">About</a>
                    <span></span>
                    <p>*</p>
                </li>
                <li><a href="#">Blog</a>
                    <span></span>
                    <p>*</p>
                </li>
                <li><a href="#">Contact</a>
                    <span></span>
                    <p>*</p>
                </li>
               </ul>
            </div>
        </div>
    </header>
    
    <!-- --------------slider-section----------- -->
<section class="slider-section">
    <div class="container">
        <div class="slider">
            <div class="slider_head">
                <h1 class="green">Our Services</h1>
            </div>
                <div class="sercviceitem">
                    <div class="div1 item3">
                       <div class="item ">
                            <i class="fa-solid fa-display"></i>
                            <h3>Web Design and development</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, est inventore! Doloribus vero dolorem perspiciatis quam fugiat, laboriosam nobis obcaecati doloremque?</p>
                       </div>
                    </div>
                    <div class="div1">
                        <div class="item item2">
                            <i class="fa-solid fa-bullhorn"></i>
                            <h3>digital marketing</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, est inventore! Doloribus vero dolorem perspiciatis quam fugiat, laboriosam nobis obcaecati doloremque?</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="item item2">
                            <i class="fas fa-pencil-ruler "></i>
                            <h3>Graphics Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, est inventore! Doloribus vero dolorem perspiciatis quam fugiat, laboriosam nobis obcaecati doloremque?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------contract-section------- -->
    <section class="contract-section">
        <div class="container">
            <div class="violet">
                <div class="div-one"></div>
                <div class="div-two"></div>
                <div class="div-three">
                    <img src="https://i.ibb.co/KqyB83D/jillur.jpg" alt="">
                    <div class="hover-pic">
                        <h4 class="">jillur <br> rahman</h4>
                    </div>
                </div>
                <div class="div-four"></div>
                <div class="div-five"></div>
                <div class="contact_form ">
                    <form action="#">
                        <input type="text" placeholder="your name" class="first"> <br><br>
                        <input type="email" placeholder="your email" class="second"><br><br>
                        <button class="button"><strong>LOGIN</strong></button>
                       </form>
                </div>
            </div>
        </div>
    </section>
    <!-- --------footer-section------- -->
        <footer class="footer-section">
            <div class="container">
                <div class="footer">
                    <p>&copy;All rights reserved bt MOUSUMI It Solution</p>
                </div>
            </div>
        </footer>
    </body>
</html>