<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- -------------------header-section------------- -->
    <header class="header-section">
        <div class="container">
            <div class="header">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
</header>
<!-- ---------------hero-section--------- -->
<section class="hero-section">
        <div class="container">
            <div class="hero">
                <h4>created to save your time</h4>
                <h1>Time Planner App</h1>
                <a class="btn" href="#"><i class="fa-solid fa-robot icon"></i>Google play</a>
            </div>
        </div>
</section>
<!-- -----------gallary-section---------------- -->
<section class="gallary-section">
        <div class="container">
            <div class="gallary">
                <div class="text-div">
                    <b>VIVAMUS FAUCIBUS ALIQUAM</b>
                    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero iste cupiditate officia adipisci debitis officiis rem sequi a rerum?</P>
                </div>
                <div class="img-div">
                    <div class="IMG1">
                        <img src="https://i.ibb.co/5hbMH4c/01.jpg" alt=""height="200" width="200" ms-4>
                    </div>
                    <div class="IMG2">
                        <img src="https://i.ibb.co/XbmNjCb/03.jpg" alt="" height="200" width="200 ms-4">
                    </div>
                    <div class="IMG3">
                        <img src="https://i.ibb.co/jyD5rsb/04.jpg" alt="" height="200" width="200" ms-4>
                    </div>
                    <div class="IMG4">
                        <img src="https://i.ibb.co/Bt8mfMm/07.jpg" alt="" height="200" width="200" ms-4>
                    </div>
                    <div class="IMG4">
                       <img src="https://i.ibb.co/Bt8mfMm/07.jpg" alt="" height="200" width="200" ms-4>
                    </div>
                    <div class="IMG3">
                        <img src="https://i.ibb.co/jyD5rsb/04.jpg" alt="" height="200" width="200" ms-4>
                    </div>
                    <div class="IMG2">
                        <img src="https://i.ibb.co/XbmNjCb/03.jpg" alt="" height="200" width="200" ms-4> 
                    </div>
                    <div class="IMG1">
                    <img src="https://i.ibb.co/5hbMH4c/01.jpg" alt=""height="200" width="200" ms-4>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- --------------------contract-section----------------- -->
<section class="contract-section">
        <div class="container">
            <div class="contract">
                <div class="last">
                    <h4>Watch a vedio on how to use our app</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid officia soluta ut, veritatis, porro quaerat numquam inventore voluptatibus ratione unde ducimus doloremque? Animi non voluptas delectus asperiores beatae? Facere sit quas placeat. Soluta eaque atque autem? Maxime, quidem, nemo saepe minus debitis fugit nesciunt optio cum quaerat non deleniti velit!</p>
                </div>
                <div class="kalo">
                    <div class="step1 two">
                        <h5>step1</h5>
                    </div>
                    <div class="step2 two">
                        <h5>step1</h5>
                    </div>
                    <div class="step3 two">
                        <h5>step1</h5>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- ------------------------footer-section--------------------- -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer">
                    <p>copyright&copy;2021 by LFWF Academy-All rights reserved</p>
                </div>
            </div>
        </footer>
    </body>
</html>
<!-- ------html-end------ -->