<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- ----------header-section----------- -->
 
    <section class="hero-section">
        <header class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="h-left">
                            <a href="#">
                                <img src="https://i.ibb.co/D5qTvXN/ia-200000000.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="h-right">
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">pages <i class="fa-solid fa-angle-down"></i></a>
                                   <ul class="drop">
                                    <li><a href="#">SERVICES</a></li>
                                    <li><a href="#">RTL TESTED</a></li>
                                   </ul>
                                </li>
                                <li><a href="#">blog <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="drop">
                                        <li><a href="#">BLOG FULL WIDTH</a></li>
                                        <li><a href="#">BLOG LEFT SIDEBAR</a></li>
                                        <li><a href="#">BLOG RIGHT SIDEBAR</a></li>
                                        <li><a href="#">BLOG NO SIDEBAR</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">contact layout <i class="fa-solid fa-angle-down"></i></a>
                                    <ul class="drop">
                                        <li><a href="#">CONTRACT LAYOUT 1</a></li>
                                        <li><a href="#">CONTRACT LAYOUT 2</a></li>
                                    </ul>
                                </li>
    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero">
                        <h1>Craft Wooden</h1>
                        <h3>HOUSES AND COTTAGES</h3>
                        <a class="btnh" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <!-- <------------read-section-------------!--  -->
    <section class="read-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="read">
                        <img src="https://i.ibb.co/FhkbZK2/ia-200000001.png" alt="">
                        <h5>PROFESSIONAL BUILDERS</h5>
                        <P>Aliquam quis nibh id neque rutrumop laoreet nulla</P>
                        <a class="btn1" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="read">
                        <img src="https://i.ibb.co/C76FpQ8/ia-200000002.png" alt="">
                        <h5>PROFESSIONAL BUILDERS</h5>
                        <P>Aliquam quis nibh id neque rutrumop laoreet nulla</P>
                        <a class="btn1" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="read">
                        <img src="https://i.ibb.co/3F1JYn1/ia-200000003.png" alt="">
                        <h5>PROFESSIONAL BUILDERS</h5>
                        <P>Aliquam quis nibh id neque rutrumop laoreet nulla</P>
                        <a class="btn1" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="read">
                        <img src="https://i.ibb.co/WxVkRLk/ia-200000004.png" alt="">
                        <h5>PROFESSIONAL BUILDERS</h5>
                        <P>Aliquam quis nibh id neque rutrumop laoreet nulla</P>
                        <a class="btn1" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------------about-section-------------------- -->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="vedio">
                        <iframe width="500" height="380" src="https://www.youtube.com/embed/0jIUuzsCYkM" title="মহামানবদের গল্প | মালেয়শিয়া লেকচার | আবু ত্ব-হা মুহাম্মাদ আদনান | Abu Taw Haa Muhammad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about">
                        <h1>About Wood<span class="co">Works</span></h1>
                        <p>proin viverra Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est velit nesciunt voluptatum temporibus officia atque cum explicabo. Facilis eligendi doloribus quasi accusamus odio?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veniam, neque similique soluta quis distinctio blanditiis laborum, impedit eum provident rerum animi nesciunt sequi ut repellat reiciendis maxime itaque doloremque deserunt totam!</p>
                        <details>
                            <summary>Adress</summary>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex veniam hic suscipit? Fugiat nam autem, sint quos fugit itaque corrupti earum excepturi iste voluptate molestias fuga modi sequi doloribus dicta harum porro minima optio ea eum nemo quisquam voluptatum facilis! Cum aut eveniet aspernatur modi, et provident tempora expedita iure.</p>
                            </details>
                            <a class="btna" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ----------------form-section---------------- -->
    <section class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form">
                        <h1>GET A QUICK QUOTE</h1>
                        <p>Quisque Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores doloribus illum consectetur provident sunt modi.</p>
                        <form action="#">
                            <input type="text" placeholder="Name" class="letter"> <br>
                            <input type="email" placeholder="Email" class="letter"> <br>
                            <input type="number" placeholder="Phone" class="letter"> <br>
                            <textarea name="" id="" placeholder="Messege" class="letter" cols="30" rows="5"></textarea>
                            <a class="btnf" href="#">Get Stared</a>
                        </form>
                    </div>
                </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
<!-------------------- f00ter-section---------------- -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="f-left">
                    <p>&copy;2021 Wood Works.All Right Reserved.Desinged by LFWF ACADEMY</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <ul>
                        <li><a href="#"><span><i class="fa-brands fa-facebook"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-twitter"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-instagram"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-linkedin-in"></i></span></a></li>
                        <li><a href="#"><span><i class="fa-brands fa-pinterest"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>