*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.menu{
    background-color: blue;
}
.menu ul{
    display: flex;
    border: 1px solid red;
}
.menu ul li{
    list-style: none;
    flex-grow: 1;
}
.menu ul li a{
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
  
}
.menu ul li a:hover{}



.gallary{
    /* background-color: blue; */
}
.gallary ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border: 1px solid black;
}
.gallary ul li{
    list-style: none;
    /* flex-grow: ; */
    flex-grow: 1;
 
}
.gallary ul li a{
    color: white;
    border: 1px solid white;
    padding: 4px;
    text-decoration: none;
    display: block;
  
}
.gallary ul li a:hover{}
.row-2{
    display: flex;
}
.text{
    border: 1px solid black;
}
.row-3{
    display: flex;
    text-align: center;
}
.text{
    border: 1px solid black;
}