<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <!-- ------------------header-section----------- -->
    <header class="heder-section">
        <div class="div1">
            <img src="https://sowrav928.github.io/lfwfacademy/img/lfwf-logo.png" alt="">
        </div>
        <div class="div2">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">support</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Agency</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

    </header>

    <!-- -----------------hero-section-------------------->

    <section class="hero-section">
        <h1 class="white">Welcome To LFWF Academy</h1>
        <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo molestias nihil vitae, nesciunt delectus sequi laudantium, mollitia pariatur corporis sint rerum. Quas consequatur obcaecati corrupti non dicta atque quibusdam!</p>
        <a href="#">Contact US</a>



    </section>

    <!-- -----------------hero-section2-------------------->
    <section class="hero-section2">
        <h1>Join Our Theme</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente suscipit nihil velit, officia soluta assumenda molestiae quaerat minus sed maiores eius ullam, a vero quo obcaecati, perspiciatis culpa sunt form</p>
        <a href="#">complete task</a>


    </section>


    <!-- -----------------contact-section-------------------->
    <section class="contact-section">
        <h1 class="mou">Know About Our Teem</h1>
    <div class="box1">
         <div class="part-1">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/ctFjw2p/img-girl.jpg" alt="img-girl"></a>
         </div>
        <div class="part-2">
            <h3>How Are YOU!</h3>
            <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam obcaecati aut, quos officiis assumenda molestiae blanditiis eaque. Ipsum, qui iure! Quidem dolore temporibus aspernatur deleniti. Commodi suscipit quisquam officiis ducimus?</P>
        </div>
    </div>
        <div class="box2">
           <div class="part-3">
            <h3>How Are You!</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi quas veritatis sunt autem facilis, dignissimos tenetur necessitatibus, nesciunt consectetur, animi obcaecati ad repellat quam voluptatem quae adipisci pariatur hic ipsa.</p>
           </div>
           <div class="part-4">
            <a href="https://imgbb.com/"><img src="https://i.ibb.co/ctFjw2p/img-girl.jpg" alt="img-girl"></a>
           </div>
           
        </div>

    </section>

    <!-- -----------------------footer-section---------------->

    <footer class="footer-section">
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">twitter</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">youtube</a></li>
        </ul>

    </footer>


    
</body>
</html>